<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
    <title>nuea fisha</title>
</head>
<body>
    
    <% include partials/navigation %>

    <div class="container p-4">
        <form method="POST" action="/new_entry" class="card card-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="New title" autofocus required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" id="author" placeholder="Author" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" name="image" id="image" placeholder="http://website.com" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="2" class="form-control" required></textarea>
            </div>
            <input type="submit" value="Post Entry" class="btn btn-primary">
        </form>
    </div>
</body>
</html>